/lab1/lab1.3
/lab1/flipbyte/.vs/flipbyte/v15
/lab1/flipbyte/Debug
/lab1/flipbyte/flipbyte/Debug
/lab1/flipbyte/flipbyte/flipbyte.vcxproj
/lab1/flipbyte/flipbyte/flipbyte.vcxproj.filters
/lab1/flipbyte/flipbyte/flipbyte.vcxproj.user
/lab1/flipbyte/flipbyte.sln
/lab1/lab1.1
/lab1/lab1.2
/lab1/join/.vs/join/v15
/lab1/join/Debug
/lab1/join/join/Debug
/lab1/join/tests/temp1.txt
/lab1/join/tests/temp2.txt
/lab1/join/join/join.vcxproj
/lab1/join/join/join.vcxproj.filters
/lab1/join/join/join.vcxproj.user
/lab1/join/join.sln
